.DS_Store
*.bak
.DS_Store
Thumbs.db

# evitar zips pesados
*.zip
beachgirl-deployable2-main.zip
.vercel
.env*.local
# evitar archivos gigantes
beachgirl-deployable2-main.zip
*.zip
.vercel/
.vercel/
.vercel/
.vercel/
